<%= form_with(model: grade, local: true) do |form| %>
  <% if grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :exam_id %>
    <%= collection_select(:grade, :exam_id, Exam.all, :id, :full_exam_name) %>

  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= collection_select(:grade, :student_id, Student.all, :id, :full_name) %>
  </div>

  <div class="field">
    <%= form.label :grade %>
    <%= form.number_field(:grade, in: 0..100) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
