<p id="notice"><%= notice %></p>

<h1>Grades</h1>

<table>
  <thead>
    <tr>
      <th>Exam</th>
      <th>Student</th>
      <th>Grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.exam.full_exam_name %></td>
        <td><%= "#{grade.first_name} #{grade.last_name}" %></td>
        <td><%= grade.grade %></td>
        <% if current_administrator %>
          <td><%= link_to 'Show', grade %></td>
          <td><%= link_to 'Edit', edit_grade_path(grade) %></td>
          <td><%= link_to 'Destroy', grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_administrator %>
  <%= link_to 'New Grade', new_grade_path %>
<% end %>
